# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Data
# =========================
data/
!data/sample/   # keep small sample data if needed

# =========================
# Models
# =========================
models/

# =========================
# Logs
# =========================
logs/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db